//@font-face{font-family:'SegoeUILight';url('../font/light.ttf#web');font-weight:normal;font-style:normal}
html, body { height: 100% }
body{
	background-color:black;
	background: url(../img/fader.png) 0px 0px repeat-x,
				url(../img/back.png) center 0px no-repeat,
				url(../img/black.png) 0px 0px repeat;
	
}
.count-votes{
	display: inline-block;
	color: white;
	font-size: 16px;
	font-weight: bolder;
}
.changed-sub{
	width: 400px;
	border: 0;
	border-radius: 0px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	background-color:white;
	color: #222222;
	text-align:left;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}
.original-sub{
	background-color: #222222;
	color: white;
	text-align: right;
	margin: 0;
	width: 443px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	height: 25px;
	padding-top: 5px;
	padding-right: 10px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: normal;
}
.changed-sub{
	margin: 0;
	width: 402px;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	height: 22px;
	display:inline-block;
	padding-top: 5px;
	padding-left: 10px;
	font-weight: normal;
}
.proposed-change{
	display: inline-block;
	text-align: left;
	margin-bottom:20px;
}
.vote-box:hover{
	background-color:rgb(231, 55, 0);
}
.vote-box{
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	background-color:rgb(194, 31, 0);
	height: 17px;
	width: 30px;
	padding: 6px;
	display:inline-block;
	position: relative;
	text-align: center;
	right: 5px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
}
.modal-header{
	border-bottom: 0;
}
.proposed-change > input{
	width: 400px;
	border: 0;
	border-radius: 0px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	margin:0;
	display: inline-block;
	vertical-align: top;
}
.error-modal-body > h5{
	color:white;
}
.error-modal-body{
	background-color: rgb(17, 17, 17) !important;
	text-align: center;
}
.addsub-table{
	text-align:center;
}
.addsub-table > button{
	float:center;
}
#edit-media-modal > .modal-body{
	max-height: 500px;
}
#edit-media-modal > .modal-body > iframe{
	height: 480px;
	width: 560px;
	overflow-y: scroll;
}
#edit-media-modal{
	width:600px;
}
.playerActionTab > .player-action-button{
	background: transparent url(../player/skin/controls.png) no-repeat;
	height: 12px;
	width: 12px;
	border: none;
	margin:5px;
	margin-top:10px;
	-webkit-appearance: none;
    border-radius: 0;
}
.proposeChangeButton > #propose-change-button{
	background-position: -114px -17px;
}
.proposeChangeButton:hover > #propose-change-button{
	background-position: -115px -50px;
}
.editButton > #edit-meta-button{
	background-position: -97px -18px;
}
.editButton:hover > #edit-meta-button{
	background-position: -97px -50px;
}
.playerActionTabsContainer{
	position:absolute;
	right: 0px;
}
.playerActionTab{
	float:right;
	background: #3a3c3d url(background.png);
	background: -webkit-linear-gradient(#4a4c4d, #2b2d2d);
	background: -moz-linear-gradient(#4a4c4d, #2b2d2d);
	background: -o-linear-gradient(#4a4c4d, #2b2d2d);
	background: -ms-linear-gradient(#4a4c4d, #2b2d2d);
	background: linear-gradient(#4a4c4d, #2b2d2d);
	width: 20px;
	height: 35px;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-table;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.messageText{
	padding-left:20px;
}
.messageBox > table{
	color:black;
	width:100%;
}
.message-image{
	height:130px;
}
.messageTitle{
	width: 100%;
	color: white;
	padding: 9px 15px;
	height: 20px;
}
.messageTitle > h5{
	color: white;
}
.notificationTitle{
	background-color: rgb(0, 135, 195);
}
.errorTitle{
	background-color: rgb(194, 31, 0);
}
.innerMessage{
	padding: 9px 15px;
}
.messageBox{
	background: #f5f5f5;
	height: 200px;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
	width: 560px;
	overflow:hidden;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.addsub-table{
	width: 25px;
	max-width: 25px;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.language-table{
	width: 150px;
	max-width: 150px;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.file-table{
	width: 160px;
	max-width: 160px;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.collectionHeader{
	height:200px;
	overflow:hidden;
}
.poster-wrapper {
	display:inline-table;
	background: white;
	width: 140px;
	margin: 0 !important;
	border: none !important;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	z-index: 90;
}
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}
.ribbon {
	transition: all 0.5s;
	font: bold 15px Sans-Serif;
	color: white !important;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	left: 38px;
	top: 5px;
	width: 64px;
	background-color: grey;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-green{
	background-color: #99CC00;
}
.poster-wrapper:hover > .ribbon-wrapper > .ribbon-green{
	background-color: #0099CC;   
}
.poster-wrapper:hover > .ribbon-wrapper > .ribbon-green:before{
	content:"\25CB";
}
.ribbon-green:before {
  left: 0;
  content:"\2022";
}
.ribbon-blue{
	background-color: #0099CC;
}
.poster-wrapper:hover > .ribbon-wrapper > .ribbon-blue{
	background-color: #99CC00;   
}
.poster-wrapper:hover > .ribbon-wrapper > .ribbon-blue:before{
	content:"\2022";
}
.ribbon-blue:before {
  left: 0;
  content:"\25CB";
}
#mediaName{
	width:100%;
	font-size:200%;
}

.videoContent{
	background-color: rgb(17, 17, 17);
	position: relative;
}
.metaText > h5, .metaText > h2{
	color:white;
}
.metaText{
	display:inline-table;
	margin-left: 10px;
	margin-right: 5px;
}
.metaText > h2, .metaText > h5{
	margin-left: 30px;
}
.metadata{
	display:inline-table;
	width:100%;
	box-shadow: 0 2px 4px rgb(0, 0, 0), 0 0 1000px rgb(0, 0, 0) inset;
	overflow:hidden;
}
.watchPoster{
	-moz-transform: skewY(-5deg);
	-webkit-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
    margin:30px;
    width:120px;
    display:inline-table;
    transition: all 0.5s;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
    box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}
.watchPoster:hover{
	-moz-transform: skewY(0deg);
	-webkit-transform: skewY(0deg);
    -o-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    transform: skewY(0deg);
}
.seasonsSlider{
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 400px;
	overflow: hidden;
	height: 30px;
}
.seasonsHolder{
	position:absolute;
	width:200%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s; /* Safari */
}
.seasonContent{
	width: 100%; 
	text-align: center;
	display: none;
}
.seasonSelector{
	display: inline-block;
}
.seasonSelector > h5{
	color: rgb(160, 160, 160);
	transition: all 0.5s;
	-webkit-transition: all 0.5s; /* Safari */
}
.episode{
	display:block;
}
tr:hover > td > .episode:after{
	content: ' \25BA';
}
.collection > .modal-header{
	padding:0;
	position:relative;
	margin:0;
	color:white !important;
	background-color: rgb(41, 41, 41);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 1000px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 1000px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 1000px rgba(0, 0, 0, 0.1) inset;
}
.collection > .modal-body{
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 20px 20px rgba(0, 0, 0, 0.1) inset;
}
.collection > .modal-header > div > h3, .collection > .modal-header > div > h4, .collection > .modal-header > div > h5{
	margin-bottom: 10px;
	color:white;
}
.adminPosterHolder > div > div > .qq-upload-button{
	width:135px !important;
}
.qq-upload-button{
	width: 100% !important;
	margin:auto;
}
.publish{
	width:100% !important;
}
.submitButton{
	background-color:rgb(0, 112, 255) !important;
	border:0;
}
.submitButton:hover{
	background-color:rgb(0, 133, 255) !important
}
.adminPosterHolder{
	width:135px;
	display: inline-block;
	vertical-align:top;
}
.adminTable{
	display: inline-block;
	margin-left:10px;
}
.uncategHolder{
	width:500px;
}
.uncategHolder > h5{
	color:black;
}
.controlContent{
	display:none;
	width: calc(100% - 230px);
	padding-top:20px;
	padding-left:20px;
}
.menu-button{
	padding:5px 5px 5px 5px;
	font-size:15px;
	font-weight:bold;
	color:black;
}
.menu-button:hover{
	background-color:rgb(231, 55, 0);
	color:white;
}
.controlSelector{
	border-right-style:solid;
	border-bottom-style:solid;
	border-color: rgb(226, 226, 226);
	border-width:thin;
	overflow:hidden;
	float:left;
	height:100%;
	width:200px;
	display:inline-block;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	border-bottom-right-radius: 9px;
}
.mejs-mediaelement{
	text-align:center;
}
.innerPausedMedia{
	font-size:12px;
	display: inline-table;
	margin-left:10px;
	margin-top:10px;
	text-align:right;
	float:right;
}
#popOverBox > .featurette-divider{
	margin: 5px 0;
}
.pausedTable{
	margin:0;
}
.pausedTable > tbody > tr{
	border-bottom:solid;
	border-width:1px;
	border-color:rgb(214, 214, 214);
	cursor:pointer;
}
.pausedTable > tbody > tr:last-child{
	border-bottom:none;
}
.pausedTable > tbody > tr > td{
	padding-bottom:3px;
	color:#08c;
	padding-top:3px;
}
.previouslyWatchingPoster{
	height:60px;
}
.pausedMedia > img{
	height:60px;
	display: inline-table;
	
}
.modal{
	background-color: rgba(255, 255, 255, 0);
}
.modal-header{
	padding: 9px 15px;
	background-color: rgb(194, 31, 0);
}
.modal-header > h5{
	color: white;
	margin: 0;
}
.modal-body{
	background-color:white;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
#mep_0{
	height:100% !important;
}
.featurette{
	margin:20px;
}
#abovePage{
	display:inline-block;
	width:100%;
}
#pageCover{
	background-color:white;
	height:100%;
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#search {
	margin:0;
}
#searchBox{
	height: 20px;
	width: 300px;
}
#search input[type="text"] {
    background: url('../img/search-dark.png') no-repeat 10px 9px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }
    
    
#searchResults{
	background-color:rgba(255, 255, 255, 0.5);
	display:none;
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.input-append > button {
    height: inherit !important;
}
.input-append{
	height: 25px;
}
.input-append > input{
	padding-left: 5px;
	width: 300px;
	height:100%;
}
.onPlayTopBar{
	
}
#innerTopBar > h4{
	margin:0;
	display: inline-table;
	height: inherit;
}
.normalTopBar{
	overflow:hidden;
	background-color:rgb(194, 31, 0);
	transition: all .5s ease;
   -moz-transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
}
#topBar{
	text-align: center;
}
.playTopBar{
	overflow:hidden;
	background-color:rgb(25, 25, 25);
	transition: all .5s ease;
   -moz-transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
}
.playTopBarButton{
	color:rgb(190, 30, 0);
	background-color:rgb(25, 25, 25);
	padding-top:6px;
	padding-bottom:6px;
	padding-right:20px;
	padding-left:20px;
	
	transition: all .5s ease;
   -moz-transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
}
.playTopBarButton:hover, .playTopBarButton:active{
	background-color:rgb(44, 44, 44);
}
.pull-right{
	float:right !important;
}
#innerTopBar > a{
	text-decoration:none;
	display: inline-table;
	float:left;
}
a:hover, a:focus{
	outline: none;
}
#innerTopBar > a > h4{
	padding-top: 5px;
	padding-bottom: 5px;
	margin:0;
}
#innerTopBar{
	
	text-align: left;
	max-width:960px;
	white-space: nowrap;
	margin:auto;
	font-size:20px;
	overflow:hidden;
}
.videoLink:hover, .videoLink{
	text-decoration: none !important;
}
.normalTopBarButton{
	color:white;
	background-color:rgb(194, 31, 0);
	padding-top:6px;
	padding-bottom:6px;
	padding-right:20px;
	padding-left:20px;
	
	transition: all .5s ease;
   -moz-transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -o-transition: all .5s ease;
}
.normalTopBarButton:hover, .normalTopBarButton:active{
	background-color:rgb(231, 55, 0);
}
.categoriesHolder{
	background-color:white;
	min-height:50px;
	padding-top:20px;
	font-size: 40px;
}
.mediaTile{
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
    box-shadow: 0px 0px 20px rgba(0,0,0,.8);
	display: inline-table;
	margin: 20px 20px 20px 20px;
	color: #eee;
	overflow:hidden;
	background-color:rgb(24, 24, 24);
	font-size: 20px;
    -webkit-border-bottom-right-radius: 8px;
	-khtml-border-radius-bottomright: 8px;	
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-radius-bottomleft: 8px;	
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
}
.mediaTile > p{
	padding:5px 5px 5px 5px;
	text-align:right;
	text-overflow: ellipsis;
    width: 120px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    vertical-align: top;
}
.mediaHolder{
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
    box-shadow: 0px 0px 20px rgba(0,0,0,.8);
	background-image:url('../img/dark_leather.png');
	width:100%;
	-webkit-border-bottom-right-radius: 8px;
	-khtml-border-radius-bottomright: 8px;	
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-radius-bottomleft: 8px;	
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
}
.categorySelector{
	color:rgb(160, 160, 160);
	float: left;
	margin: 10px 10px 10px 10px;
	transition: all .5s;
   -moz-transition: all .5s;
   -webkit-transition: all .5s;
}
.topBarButton{
	text-decoration:none !important;
}
#moviePoster{
	margin:0;
	display:inline-table;
	border:none !important;
	height:200px;
	width:140px;
}
.contentContainer{
	background-color:black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.add-on{
	background-color: rgb(194, 31, 0) !important;
	color: rgba(255, 255, 255, 0);
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px !important;
}
#slidePicture1{
	position:relative;
	color:white;
	min-height:452px;
	text-align:right;
	background:url('../img/bucharest.jpg') center top no-repeat;
	background-size: cover;
	-webkit-border-top-right-radius: 8px;
	-khtml-border-radius-topright: 8px;	
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-khtml-border-radius-topleft: 8px;	
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
}
#slidePicture2{
	position:relative;
	color:white;
	min-height:452px;
	text-align:right;
	background:url('../img/cyberman.png') center top no-repeat;
	background-size: cover;
	-webkit-border-top-right-radius: 8px;
	-khtml-border-radius-topright: 8px;	
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-khtml-border-radius-topleft: 8px;	
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
}
#slidePicture3{
	position:relative;
	color:white;
	min-height:452px;
	text-align:right;
	background:url('../img/tuxspace.png') center top no-repeat;
	background-size: cover;
	-webkit-border-top-right-radius: 8px;
	-khtml-border-radius-topright: 8px;	
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-khtml-border-radius-topleft: 8px;	
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
}
#slideText{
	position:absolute;
	bottom:0px;
	right:10px;
}
#mainHolder{
	margin-top:100px;
}
#mainHolder > h2{
	display:inline-block;
	width:100%
}
#profilePic{
	padding: 5px 5px 5px 5px;
	margin: 20px 20px 20px 20px;
	border-style:solid;
	border-width:1px;
	border-color:rgb(202, 202, 202);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}